name: Update Image Tag

on:
  workflow_dispatch:

jobs:
  update-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Update Image Tag (Simulated CI)
        run: |
          sed -i 's/gb-frontend:v5/gb-frontend:v6/g' guestbook/guestbook-ui-deployment.yaml

      - name: Commit Changes
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add .
          git commit -m "CI: update image tag to v6" || echo "No changes"

      - name: Push Changes
        run: |
          git push

